
h1 {
    margin-bottom: 50px;
    margin-top: 0%;
    align-items: center;
    box-shadow: 0in;
    color: #120d03;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;

}


body {
    align-items: center;
    text-align: center;
    background-color: #cbcbc8;
    
}

input{
    width:300px ;
    align-items: center;
    background-color: #b6b6b1;
    background: -webkit-linear-gradient();
    font-family:  sans-serif;
    font-size: 15px;
    border: 1px solid #314754;
    border-radius: 10px;
    padding: 5px;
    text-align: left;


}
/* #radioBox{
    background-color: #314754;
    background: -webkit-linear-gradient();
    font-family:  sans-serif;
    font-size: 15px;
    border: 1px solid #314754;
    border-radius: 10px;
    padding: 5px;
    text-align: center;


} */
/* 
input [type = "radio"]{
    width: 16px;
    height: 16px;
} */


form{
    text-align: center;
    box-shadow: 0in;
    background-color: #cbcbc8;
    background: -webkit-linear-gradient();
    display: inline-block;
}

label{
    width: 100px;
    font-size: large;
    display: inline-block;
    text-align: left;
}



  .ADD_STUDENT {
    background: #1c2d2b;
    text-align: center;
    flex-wrap: wrap;
    color: white;
 }



 .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

 body {
  background-color: #cbcbc8;
  color: #1c2d2b;
  margin: 0px;
}

h1 {
  color: #402a02;
}

input,
select,
option {
  border-color: #1c2d2b;
  background-color: #cbcbc8;
  border-width: 1px;
  border-radius: 6px;
}

img {
  width: 10%;
  height: auto;
  padding-left: 20px;
}

#logo {
  background-color: #1c2d2b;
}

#formdiv {
  width: 40%;
  margin: auto;
}

#form {
  width: 100%;
}

.rows {
  width: 100%;
  display: block;
}

.columns {
  width: 100%;
  display: inline-block;
  margin: 10px;
}

.labels {
  width: 30%;
  float: left;
  font-size: large;
}

.theInputs {
  width: 60%;
  float: right;
}

h1 {
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
}

h2 {
  text-align: center;
  margin-right: 32%;
}

a {
  color: #cbcbc8;
  float: right;
  height: 7%;
  margin-top: 50px;
  margin-right: 50px;
  text-decoration: none;
  font-size: 14pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#submit {
  background-color: #1c2d2b;
  color: #cbcbc8;
  border-radius: 6px;
  border-color: #1c2d2b;
  border-width: 1px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select {
  padding-top: 2px;
  padding-bottom: 2px;
}