/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

/* SPECIFIC PAGE STYLING */
h1 {
    margin-left: 30px;
    margin-top: 0px;
}

#formDiv {
    text-align: center;
    margin-top: 30px;
}

input {
    width: 50%;
    padding: 10px;
    background-color: #aeb2ac;
    border-radius: 20px;
    border-width: 1px;
    border-color: #1c2d2b;
}

button {
    cursor: pointer;
    padding: 15px;
    border: 2px solid #1c2d2b;
    background-color: #1c2d2b;
    border-radius: 10px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
}

#bodyimg {
    padding: 10px 0px;
    margin-left: 35%;
    margin-top: 100px;
    width: 400px;
    height: 120px;
}