* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    background-color: #cbcbc8;
    color: #1c2d2b;
    height: 1000px;
    margin: 0px;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}

img {
    width: 10%;
    height: auto;
    padding-left: 20px;
}

#navBar {
    background-color: #1c2d2b;
    padding: 17px;
}

.link {
    color: #cbcbc8;
    float: right;
    height: 7%;
    margin-top: 0.8%;
    margin-right: 50px;
    text-decoration: none;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link:hover {}

button {
    background-color: #1c2d2b;
    color: #cbcbc8;
    border-radius: 5px;
    border-width: 1px;
    border-color: #1c2d2b;
    padding: 4px 6px;
    cursor: pointer;
}

.lvl,
.assign {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 80vh;
    overflow: hidden;
}

h1 {
    margin-left: 30px;
    margin-top: 0px;
    /* color: #573a05; */
}



#id {
    text-align: left;
}

#tableDiv {
    background-color: #bebeb8;
    margin: 5%;
    padding-bottom: 2%;
    box-shadow: 0 .4rem, .9rem #0005;
    border-radius: 20px;
    height: 420px;
}

#tableBody {
    max-height: 80%;
    overflow: auto;
    overflow: overlay;
}

table,
th,
td {
    border-collapse: collapse;
}

td:first-of-type {
    padding-left: 2%;
}

th:first-of-type {
    padding-left: 2%;
}

table {
    border: 1px solid #1c2d2b;
    padding: 0px 20px 20px 20px;
    background-color: #cbcbc8;
    border: inline;
    border-radius: 20px;
}

#tableBody::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

#tableBody::-webkit-scrollbar-thumb {
    border-radius: .7rem;
    background-color: #0004;
    visibility: hidden;
}

#tableBody:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#tableTitle {
    background-color: #adada2;
    background-color: #acb4b0;
    padding: 20px 0px 5px 0px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

th {
    background-color: #1c2d2b;
    color: #cbcbc8;
    padding: 7px;
    position: sticky;
    top: 0;

}

@media (max-width: 1000px) {
    table {
        margin: 2%;
    }

    td {
        min-width: 12.1rem;
    }

    /*edit list of home add search view*/
}

/* STYLING FOOTER*/

footer {
    margin-top: 150px;
    width: 100%;
    height: 340px;
    padding: 100px 20%;
    background: #1c2d2b;
    color: #bebeb8;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer div {
    text-align: center;
}

.footer-section-about {
    float: left;
    width: 50%;
    padding-right: 4.8rem;
}

.footer-section-contact {
    float: left;
    width: 50%;
    padding-left: 4.8rem;
}

footer div h3 {
    font-weight: 1000;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footerLink {
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: #375940;
    margin-bottom: 5px;
}

footer .footer-bottom {
    background-color: #aeb2ac;
    color: #1c2d2b;
    height: 20px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    footer {
        background-color: #1c2d2b;
        color: #bebeb8;
        font-size: .8em;
        width: 100%;
    }

    .link {
        font-size: .8em;
    }

    #logo {
        width: 18%;
        height: 18%;
    }
}