<!--@auhter: Rana Essam 
    @Date: 3/3/2023
    @Description: This file is the add  student screen
     which is resposible for entering student's info and add this student to the system
-->
{% extends "master.html" %}
{%load static%}


  {% block title %}
  Add Student
  {% endblock %}
  
  {% block stylesheet %}   
  <link rel="stylesheet" type="text/css"  href="{% static 'add_student.css'%}"/>
  {% endblock %}



  {% block content%}
  <h1 style="margin-left: 3%;">
    Please Enter This Info
    To Add
    <br>
    New Student...

  </h1>
  <center>

    <form id="form" method = "GET" onsubmit= "addStd()"> {% csrf_token %}
      <script>
        function addStd(){
          alert("Student Added")
        }
      </script>
      <label for="first_name">First Name: </label>
      <input type="text" name="first_name" id="first_name" placeholder="student's first name..." required>
      <br>
      <br>
      <label for="last_name">Last Name: </label>
      <input type="text" name="last_name" id="last_name" placeholder="student's last name..." required>
      <br>
      <br>
      <label for="email">Email: </label>
      <input type="text" name="email" id="email" placeholder="student's email..."
      pattern = "^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required title= "Invalid email ! ">
      <br>
      <br>
      <label for="phone">Phone: </label>
      <input type="tel" name="phone" id="phone" placeholder="01..."pattern = "^01[0125][0-9]{8}$"  required title= "Invalid phone number ! ">
      <br>
      <br>
      <label for="gpa">GPA: </label>
      <input type="text" name="gpa" id="gpa" placeholder="student's gpa..." required  pattern = "^([0-3](\.\d\d?)?|4(.00?)?)$" required title= "Invalid GPA ! ">
      <!--pattern="[0-4]{1}+[?.]+[0-9]{2}"-->
      <br>
      <br>
      <label for="level">Level: </label>
      <input type="text" name="level" id="level" placeholder="1->4" pattern="[1-4]{1}" required title= "Invalid level ! "> 
      <!--pattern="[0-4]{1}+[?.]+[0-9]{2}"-->
      <br>
      <br>
      <label for="birthdate"> Birthdate: </label>
      <input type="date" name="birthdate" id="birthdate" required>
      <br>
      <br>

      <label style="padding-right : 75px">Gender: </label>
      <input type="radio" name="gender" id="male" class="Gender" value="Male" required>
      <label for="male" class="Gender">Male </label>
      <input type="radio" name="gender" id="female" class="Gender" value="Female" required>
      <label for="female" class="Gender">Female </label>
      <br>
      <br>
      <button type="submit" class="ADD_STUDENT" > ADD STUDENT </button>
      {% comment %} ADD STUDENT </button> {% endcomment %}
    </form>
  </center>
  {% endblock%}