{% extends "master.html" %}

{% load static %}


{% block title%}
ASA - Home Page
{%endblock%}


{% block stylesheet%}
<link rel="stylesheet" href="{% static 'Home_page.css'%}">
{%endblock%}


{% block content%}
<div class = "container"></div>
    <div class = "text">
    <h1>Welcome, ASA Community</h1>
    <p class = "content-top">Hope you're having a good day full of potential for work.</p>
    <p class = "content">Please, don't forget to check today's announcements.</p>
    <b><a id="button-link" href="#ann"> View Announcements</a></b>
</div>
<div>
  <ol>
    <h2 id ="ann"><i>Announcements</i></h2>
    {% for announcement in announcements %}
    <li>{{announcement.content}}</li>
    <br><br>
    {% endfor %}
  </ol>
</div>
{%endblock%}
