{% extends "master.html" %}

{% load static %}


{% block title%}
ASA - Home Page
{%endblock%}
{% block stylesheet%}
<link rel="stylesheet" href="{% static 'Home_page.css'%}">
{%endblock%}





{% block content%}
<div class = "container"></div>
    <div class = "text">
    <h1>Welcome, ASA Community</h1>
    <p class = "content-top">Hope you're having a good day full of potential for work.</p>
    <p class = "content">Please, don't forget to check today's announcements.</p>
    <b><a id="button-link" href="#ann"> View Announcements</a></b>
</div>
    <div class = "text">
    <h1>Welcome, ASA Community</h1>
    <p class = "content-top">Hope you're having a good day full of potential for work.</p>
    <p class = "content">Please, don't forget to check today's announcements.</p>
    <b><a id="button-link" href="#ann"> View Announcements</a></b>
</div>
<div>
  <ol>
    <h2 id ="ann"><i>Announcements</i></h2>
    <li>Registration is still closed unless the student is accepted and he has filled the application.</li>
    <br><br>
    <li>Check list of students that need to be added for the academic year's start and those who need to assign their department.</li>
    <br>
    <br>
    <li>For general program, the registartion 
      is now opened for a duration of 2 weeks for students who have passed last years' exams.</li>
      <br>
      <br>
      <li>There has been a modification in the schedule for the General 
        programs as the new department that was added 2 years ago is canceled. </li>
        
        
  </ol>
</div>
{%endblock%}
