{% extends "master.html" %}

{% load static %}


{% block title%}
Search
{%endblock%}
{% block stylesheet%}
<link rel="stylesheet" href="{% static 'search.css'%}">
{%endblock%}


{% block content%}
    <img src="{% static "Images/logo-search.png" %}" alt="Logo Image" id="bodyimg">
    <h1>Student Records Search</h1>
    {% csrf_token %}
    <div id="formDiv">
        <form name="form" action="../searchResults/" method="post">
            <input type="search" name="q" placeholder="Search Student Name.." id="search" pattern="[a-zA-Z ]+"
            title="Only include letters [A-Z]" required>
            <button type="submit" name="searching"></button>
        </form>
    </div>
{%endblock%} 