<!-- @author: Nour Muhammad
    @Date: 4/3/2023
    @Description: This file views more info about the selected student
-->
{% extends "master.html" %}
{% load static %}

{% block title %} 
More Info
{% endblock %}

{% block stylesheet %}     
<link rel="stylesheet" href="{% static 'view_more_info.css' %}">
{% endblock %}

{% block content %}    
<br>
<br>
    <table>
        <caption>Student's Full Info</caption>
        <tr class="dark", style="border-bottom: 1px dashed #1c2d2b;">
            <th >First Name</th>
            <td id = "firstName">{{std.firstname}}</td>
        </tr>
        <tr style="border-bottom: 1px dashed #1c2d2b;">
            <th >Last Name</th>
            <td id = "lastName">{{std.lastname}}</td>
        </tr>
        <tr  style="border-bottom: 1px dashed #1c2d2b;">
            <th>ID</th>
            <td id = "id">{{std.id}}</td>
        </tr>
        <tr style="border-bottom: 1px dashed #1c2d2b;">
            <th >Phone</th>
            <td id = "phone">{{std.phone}}</td>
        </tr>
        <tr  style="border-bottom: 1px dashed #1c2d2b;">
            <th >Email</th>
            <td id = "email">{{std.email}}</a></td>
        </tr>
   
        <tr style="border-bottom: 1px dashed #1c2d2b;">
            <th >GPA</th>
            <td id ="gpa">{{std.gpa}}</td>
        </tr>
        <tr class="dark", style="border-bottom: 1px dashed #1c2d2b;">
            <th >Department</th>
            <td id = "department">{{std.dep}}</td>
        </tr>
        <tr style="border-bottom: 1px dashed #1c2d2b;">
            <th >Birthdate</th>
            <td id = "birthdate">{{std.birthdate}}</td>
        </tr>
        <tr  style="border-bottom: 1px dashed #1c2d2b;">
            <th >Gender</th>
            <td id = "gender">{{std.gender}}</td>
        </tr>
    </table>
{% endblock %}   