<!--@auhter: Rana Essam 
    @Date: 3/3/2023
    @Description: This file is the update info screen for the student management system by the user 
    but not including update department
-->
{% extends "master.html" %}
{% load static %}

{% block title %}
Update Student
{% endblock %}

{% block stylesheet %}  
<link rel="stylesheet" href="{% static 'update_info.css' %}">
{% endblock %}
<script src="{% static 'js/update_info.js' %}"></script>
 
{% block content %}  
<h1 style="margin-left: 6%;"> Update Student's Info </h1>
<center>
<form style="text-align: center; " id="fields" method = "GET" onsubmit = "updateStudent()">
  {% csrf_token %}

  <label for="first_name">First Name:</label>
  <input  type="text" name="first_name" id="first_name"  value = {{std.firstname }} required>
  <br>
  <br>
  <label for="last_name">Last Name:</label>
  <input  type="text" name="last_name" id="last_name" value = {{std.lastname }} required >
  <br>
  <br>
  <label for="id">ID:</label>
  <input  type="text" name="id" id="id" value= {{std.id}}  disabled>
  <br>
  <br>
  <label for="level">Level:</label>
  <input  type="text" name="level" id="level" value = {{std.level}}  pattern="[1-4]{1}" required>
  <br>
  <br>
  <label for="gpa">GPA:</label>
  <input  type="text" name="gpa" id="gpa" value = {{std.gpa}} required>
  <br>
  <br>
  <label for="department">Department:</label >
  <input  type="text" name="dep" id="dep" value = {{std.dep}}  disabled>
  <br>
  <br>
  <label for="email">Email:</label>
  <input  type="email" name="email" id="email" value = {{std.email}} required >
  <br>
  <br>
  <label for="phone">Phone:</label>
  <input name="phone" id="phone"  pattern="[0-9]{11}" value = {{std.phone}} required>
  <br>
  <br>
  <label for="birthdate"> Birthdate:</label> 
  <input  type="date" name="birthdate" id="birthdate" value = {{std.birthdate|date:"Y-m-d"}} >
  <br>
  <br>
  <input type = "submit" value= "UBDATE" class="UBDATE" >
  {% comment %} <button  class="UBDATE" onclick="updateStudent()">UBDATE</button> {% endcomment %}
  <button class="delete" onclick="submit()">DELETE</button>   
  <input type = "hidden" value = "0" id = "hidden"> 
  <label for="options"></label>
                       
  <select class="dropdown" name="state" id="state"   >
           <option value ="1" {%if std.state%}selected {%endif%} >Active</option>
           <option value = "0"{%if not std.state%}selected {%endif%} >Inactive</option>
       </select>  
      </from>
      </center> 
{% endblock %}