<!--@auhter: Rana Essam 
    @Date: 3/3/2023
    @Description: This file is the update info screen for the student management system by the user 
    but not including update department
-->
{% extends "master.html" %}
{% load static %}

{% block title %}
Update Student
{% endblock %}

{% block stylesheet %}  
<link rel="stylesheet" href="{% static 'update_info.css' %}">
{% endblock %}
{%block script%}
<script src="{% static 'js\update_info.js' %}" type="text/javascript"></script>
 {%endblock%}
{% block content %}  
<h1 style="margin-left: 6%;"> Update Student's Info </h1>
<center>
<form style="text-align: center; " id="fields" method = "GET" onsubmit = "updateStudent(this)">
    <script>
        
function updateStudent(form){
    let Id = localStorage.getItem("id");
    let fName = document.getElementById("first_name").value + " ";
    let lName = document.getElementById("last_name").value;
    let Email = document.getElementById("email").value;
    let phoneNum = document.getElementById("phone").value;
    let Level = document.getElementById("level").value;
    let GPA = document.getElementById("gpa").value;
    const myRe = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/ ;
    const validateEmail = Email.match(myRe);
    
    if(fName == " " ){
        alert("Invalid first name");
         form.disabled();
    }
    if(!lName){
        alert("Invalid last name");
        form.disabled();

    }
    if(!Email || !validateEmail ){
        alert("Invalid email");
        form.disabled();
        return
    
    }
    if(!phoneNum || phoneNum.length != 11 ){
        ralert("Invalid phone number");
         form.disabled();

    }
    if(!Level || Level < 1 || Level >4 ){
        alert("Invalid level");
        form.disabled();

    }
    if( GPA >4 || GPA <= 0){
        alert("Invalid GPA");
        event.preventDefault();
        return
    }
    function deleteStd(){
        alert("herrre")
        document.getElementById("hidden").value = "1"
        document.getElementById("fields").submit();
    }
    

}

    </script>
  {% csrf_token %}
  <label for="first_name">First Name:</label>
  <input  type="text" name="first_name" id="first_name"  value = {{std.firstname }} required>
  <br>
  <br>
  <label for="last_name">Last Name:</label>
  <input  type="text" name="last_name" id="last_name" value = {{std.lastname }} required >
  <br>
  <br>
  <label for="id">ID:</label>
  <input  type="text" name="id" id="id" value= {{std.id}}  disabled>
  <br>
  <br>
  <label for="level">Level:</label>
  <input  type="text" name="level" id="level" value = {{std.level}}  pattern="[1-4]{1}" required>
  <br>
  <br>
  <label for="gpa">GPA:</label>
  <input  type="text" name="gpa" id="gpa" value = {{std.gpa}} required>
  <br>
  <br>
  <label for="department">Department:</label >
  <input  type="text" name="dep" id="dep" value = {{std.dep}}  disabled>
  <br>
  <br>
  <label for="email">Email:</label>
  <input  type="email" name="email" id="email" value = {{std.email}} required >
  <br>
  <br>
  <label for="phone">Phone:</label>
  <input name="phone" id="phone"  pattern="[0-9]{11}" value = {{std.phone}} required>
  <br>
  <br>
  <label for="birthdate"> Birthdate:</label> 
  <input  type="date" name="birthdate" id="birthdate" value = {{std.birthdate|date:"Y-m-d"}} >
  <br>
  <br>
  <button type = "submit" class="UBDATE" > UBDATE</button>
  {% comment %} <button  class="UBDATE" onclick="updateStudent()">UBDATE</button> {% endcomment %}
  {% csrf_token %}

  <button class="delete" onclick="confirmDeletion()">DELETE</button>   


  <input type = "hidden" name = "delete" value = "0" id = "hidden"> 
  
      </from>
      </center> 
{% endblock %}