<!--@auhter: Rana Essam 
    @Date: 3/3/2023
    @Description: This file is the update info screen for the student management system by the user 
    but not including update department
-->
{% extends "master.html" %}
{% load static %}

{% block title %}
Update Student
{% endblock %}

{% block stylesheet %}  
<link rel="stylesheet" href="{% static 'update_info.css' %}">
{% endblock %}

{% block content %}  
<h1 style="margin-left: 6%;"> Update Student's Info </h1>
<center>
<form style="text-align: center; " id="fields" method = "GET" onsubmit = "updateStudent()">
    <script>
        
function updateStudent(form){
    if(document.getElementById("hidden").value != "1")
        alert("Student updated!")
    
}


    function deleteStd(){
        document.getElementById("hidden").value = "1"
        document.getElementById("fields").submit();
        return;
    } 
    
    function confirmDeletion(){
        const reponse = confirm("Are you sure you want to delete this student?");
        if (reponse == true){
            deleteStd();
        }   
    }
    
    </script>
  {% csrf_token %}
  <label for="first_name">First Name:</label>
  <input  type="text" name="first_name" id="first_name"  value = {{std.firstname }} required>
  <br>
  <br>
  <label for="last_name">Last Name:</label>
  <input  type="text" name="last_name" id="last_name" value = {{std.lastname }} required >
  <br>
  <br>
  <label for="id">ID:</label>
  <input  type="text" name="id" id="id" value= {{std.id}}  disabled>
  <br>
  <br>
  <label for="level">Level:</label>
  <input  type="text" name="level" id="level" value = {{std.level}}  pattern="[1-4]{1}" required title= "Invalid level ! ">
  <br>
  <br>
  <label for="gpa">GPA:</label>
  <input  type="text" name="gpa" id="gpa" value = {{std.gpa}} pattern = "^([0-3](\.\d\d?)?|4(.00?)?)$"  required title= "Invalid GPA ! ">
  <br>
  <br>
  <label for="dep">Department:</label >
  <input  type="text" name="dep" id="dep" value = {{std.dep}}  disabled>
  <br>
  <br>
  <label for="email">Email:</label>
  <input  type="email" name="email" id="email" value = {{std.email}} pattern = "^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  title= "Invalid email ! " >
  <br>
  <br>
  <label for="phone">Phone:</label>
  <input name="phone" id="phone"  pattern="[0-9]{11}" value = {{std.phone}} pattern = "^01[0125][0-9]{8}$"  required title= "Invalid phone number ! ">
  <br>
  <br>
  <label for="birthdate"> Birthdate:</label> 
  <input  type="date" name="birthdate" id="birthdate" value = {{std.birthdate|date:"Y-m-d"}} required >
  <br>
  <br>
  <button type = "submit" class="UBDATE" > UBDATE</button>
  {% csrf_token %}

  <button class="delete" onclick="confirmDeletion()">DELETE</button>   


  <input type = "hidden" name = "delete" value = "0" id = "hidden"> 
  
      </form>
      </center> 
{% endblock %}