{% extends "master.html" %}
{% load static %}


{% block title%}
View Student Activity Log
{%endblock%}


{% block stylesheet %} 
<link rel="stylesheet" href="{% static 'view_student_screen.css' %}"> 
{% endblock %}


{% block content%}
    <main class="table">
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Department</th>
                        <th>GPA</th>
                        <th>Activity</th>
                        <th>Edit Details</th>
                        <th>View More Info</th>
                    </tr>
                </thead>
                <tbody id="table">
                    {% for std in students %}
                     <tr>
                      <td><strong>{{std.id}}</strong></td>
                      <td>{{std.firstname}} {{std.lastname}}</td>
                      <td>{{std.level}}</td>
                      <td>{{std.dep}}</td>
                      <td>{{std.gpa}}</td>
                      <td>
                       <form method = "POST" id ={{std.id}} onsubmit = "login()" >
                        {% csrf_token %}
                     <select class="dropdown" name="state"  onchange = "this.form.submit()" >
                              <option value ="1"{%if std.state%}selected {%endif%} >Active</option>
                              <option value = "2"{%if not std.state%}selected {%endif%} >Inactive</option>
                          </select>
                            <input type = "hidden" name = "id" value = {{std.id}}  >
                        </form>
             
                      </td>

                      <td><a class="button"  href="../editStudent/{{std.id}}"><button type="button">Edit</button></a></td>
                      <td><a class="button" href="../studentInfo/{{std.id}}"><button type="button">View Info</button></a></td>
                  </tr>
                  {% endfor %}
         
                </tbody>
            </table>
        </section>
    </main>
{%endblock%}    