<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'view_student_screen.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 {%load static%} <link rel="icon" href= "{% static 'Images/logo-color-tab.png' %}">

    <title>View Student Activity Log</title>
    <script src= "{% static 'js\view_student_screen.js' %}"></script>   
</head>
<header>
    <nav id="navBar" class = "header">

        <a  href = "../home/" > {% load static%}<img src="{% static 'Images/logo-color2.png' %}" alt="Website logo" style="text-align: start"></a>
        <a  href = "../allstudents/" class="link">View</a>
        <a href = "../search/"class="link">Search</a>
        <a href = "../add/"class="link">Add</a>
        <a href = "../home/"class="link">Home</a>
          </nav>
</header>

<body>

    <main class="table">
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Department</th>
                        <th>GPA</th>
                        <th>Activity</th>
                        <th>Edit Details</th>
                        <th>View More Info</th>
                    </tr>
                </thead>
                <tbody id="table">
                    {% for std in students %}
                     <tr>
                      <td><strong>{{std.id}}</strong></td>
                      <td>{{std.firstname}} {{std.lastname}}</td>
                      <td>{{std.level}}</td>
                      <td>{{std.dep}}</td>
                      <td>{{std.gpa}}</td>
                      <td>
                       <form method = "POST" id ="#myform" >
                        {% csrf_token %}
                     <select class="dropdown" name="state" id="state{{std.id}}" onchange = "changeState({{std.id}})"  >
                              <option value ="1"{%if std.state%}selected {%endif%} >Active</option>
                              <option value = "2"{%if not std.state%}selected {%endif%} >Inactive</option>
                          </select>
                            <input type = "hidden" id = "{{std.id}}" value = {{std.id}}  >
                        </form>
             
                      </td>

                      <td><a class="button"  href="../editStudent/{{std.id}}"><button type="button">Edit</button></a></td>
                      <td><a class="button" href="../studentInfo/{{std.id}}"><button type="button">View Info</button></a></td>
                  </tr>
                  {% endfor %}
         
                </tbody>
            </table>
        </section>
    </main>
</body>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section-about">
            <h3>About us</h3>
            <h4>Location:</h4>
            <p><a class="footerLink"
                    href="https://www.google.com/maps/place/Faculty+of+Computers+and+Artificial+Intelligence+-+Cairo+University/@30.0313294,31.2085304,810m/data=!3m2!1e3!4b1!4m6!3m5!1s0x145846d0b807627d:0xb2a6ce4702edc3da!8m2!3d30.0313294!4d31.2107191!16s%2Fg%2F1yw0_wjgc">
                    Faculty Of Computers and Artificial Intelligence - Cairo University</a></p><br>
            <h4>Working Days:</h4>
            <p>From Sunday to Monday - 9AM to 2PM</p>
        </div>
        <div class="footer-section-contact">
            <h3>Contact Us:</h3>
            You can contact us on our<a class="footerLink" href="mailto:nooreyadd39@gmail.com">email</a><br>
            For any complaints about the website contact our developers:
            <a class="footerLink" href="mailto:nourmuhammad835@gmail.com">Nour Mohamed</a>
            <a class="footerLink" href="mailto:mernaislam39@gmail.com">Merna Islam</a>
            <a class="footerLink" href="mailto:ranaessam03@gmail.com">Rana Essam</a>
            <a class="footerLink" href="mailto:nooreyadd39@gmail.com">Noor Eyad</a>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; academic-students-affairs.com | Designed by a team of professional designers
    </div>
</footer>

</html>