/*STYLING FOR THE BODY*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}
html{
    height: 100%;
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
}

body{
    /*height: 100%;*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #Cbcbc8;
    margin-top: 100px;
    /*padding: 0;*/
    color: #1c2d2b;
    flex-direction: column;
    position: relative;
    /*padding-bottom: 6rem;*/
}

table, th, td{
    padding: 1rem;
    border-collapse: collapse;
    text-align: center;
    /*min-height: 100%;*/
}

table{
    width: 100%;
}

thead, th{
    position: sticky;
    top: 0;
    /*left: 0;*/
    /*background-color: #63826D;*/
}
thead{
    background-color: #1c2d2b;
    color: #cbcbc8;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6;
}

main.table{
    width: 82vw;
    height: 75vh;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    background-color: #adada2;
    overflow: hidden;
    margin-bottom: 350px;
}

/*.table_header{*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    background-color: #fff4;*/
/*    padding: .8rem 1rem;*/
/*}*/

.table_body{
    width: 95%;
    height: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: 2.5rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
    border-radius: .7rem;
    background-color: #0004;
}

@media (max-width: 1000px) {
    td:not(:first-of-type){
        min-width: 10rem;
    }
}

/*STYLING FOR THE NAVIGATION BAR*/

img {
    width: 10%;
    height: auto;
    padding-left: 20px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Exo 2', sans-serif;
    /*padding: 1em;*/
    z-index: 999;
    /*position: fixed;*/
    background-color: #1c2d2b;
    padding: 17px;
    /*width: 100%;*/
}

.link {
    color: #cbcbc8;
    float: right;
    height: 7%;
    margin-top: 0.8%;
    margin-right: 50px;
    text-decoration: none;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*STYLING FOR THE FOOTER*/

footer{
    margin-top: 150px;
    width: 100%;
    height: 300px;
    padding: 100px 20%;
    color: #bdbdb9;
    background-color: #1c2d2b;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer div{
    text-align: center;
}

.footer-section-about{
    float: left;
    width: 50%;
}

.footer-section-contact{
    float: left;
    width: 50%;
}

.footer div h3, .footer div h4{
    font-weight: 1000;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #946714;
  }

  .footer div h4{
    margin-top: 10px; 
  
  }

.footerLink{
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: #acb4b0;
    margin-bottom: 5px;
}

footer .footer-bottom{
    background-color: #aeb2ac;
    color: #1c2d2b;
    height: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

@media only screen and (max-width: 767px) {
    footer{
        background-color: #adada2;
        color: #1c2d2b;
        font-size:.8em;
        margin-top:25px;
        padding-top: 15px;
        padding-bottom: 10px;
        position:static;
        left:0;
        bottom:0;
        width:100%;
    }

}

/*STYLING THE BUTTONS*/

button{
    color: #1c2d2b;
    padding: 5px;
    background-color: #cbcbc8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    width: 50%;
    margin-bottom: 0;
    border: 1px solid #adada2;
}

button:hover{
    background-color: #1c2d2b;
    cursor: pointer;
    color: #cbcbc8;
}

/*STYLING THE DROPDOWN LIST*/

.dropdown {
    padding: 5px;
    color: #1c2d2b;
    background-color: #cbcbc8;
    border: 1px solid #adada2;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.dropdown:hover{
    background-color: #1c2d2b;
    cursor: pointer;
    color: #cbcbc8;
}