*{
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Serif;
    box-sizing: border-box;
    background-color: #adada2;
}

.about{
    width: 100%;
    padding: 78px 0;
}

.about img{
    height: auto;
    width: 420px;
    border-radius: .8rem;
}

.about-text{
    width: 550px;
    padding-left: 10px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: #1c2d2b;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: #1c2d2b;
    font-size: 25px;
    text-transform: capitalize;
    /*margin-bottom: 25px;*/
    letter-spacing: 2px;
}

.about-text p{
    color: #1c2d2b;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 45px;
}

.link{
    color: #1c2d2b;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 45px;
}