/*STYLING FOR THE FOOTER*/

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: "Times New Roman";*/
/*    box-sizing: border-box;*/
/*    align-items: center;*/
/*}*/

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 20%;
    background: #adada2;
    color: #1c2d2b;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.footer div{
    text-align: center;
}

.footer-section-about{
    float: left;
    width: 50%;
}

.footer-section-contact{
    float: left;
    width: 50%;
}

.footer div h3{
    font-weight: 1000;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.footerLink{
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: #375940;
    margin-bottom: 10px;
}



.footer .footer-bottom{
    background-color: #aeb2ac;
    color: #1c2d2b;
    height: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}
