/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

h1 {
    margin-left: 30px;
    margin-top: 0px;
}

/* SPECIFIC PAGE STYLING */
button {
    background-color: #1c2d2b;
    color: #cbcbc8;
    border-radius: 5px;
    border: 1px solid #1c2d2b;
    padding: 4px 6px;
    cursor: pointer;
}

button:hover {
    color: #1c2d2b;
    background-color: #cbcbc8;
    border-color: #cbcbc8;
    transition-duration: 0.4s;
    border: 1px solid #cbcbc8;
}

.lvl,
.assign {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: hidden;
}

.table thead th {
    vertical-align: middle !important;
}

#id {
    text-align: left;
}

#tableDiv {
    background-color: #bebeb8;
    margin: 5%;
    padding-bottom: 2%;
    box-shadow: 0 .4rem, .9rem #0005;
    border-radius: 20px;
    height: 420px;
    margin-top: 10%;
}

#tableBody {
    max-height: 80%;
    overflow: auto;
    overflow: overlay;
}

table,
th,
td {
    border-collapse: collapse;
}

.name {
    padding-left: 3%;
    padding-right: 20%;
}

td:first-of-type {
    padding-left: 2%;
}

th:first-of-type {
    padding-left: 2%;
}

th:not(:first-of-type) {
    padding-left: 7%;
}


td:not(:first-of-type) {
    padding-left: 10%;
}

#notFound {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: xx-large;
    padding: 100px;
}

table {
    border: 1px solid #1c2d2b;
    padding: 0px 20px 20px 20px;
    background-color: #cbcbc8;
    border: inline;
    border-radius: 20px;
}

#tableBody::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

#tableBody::-webkit-scrollbar-thumb {
    border-radius: .7rem;
    background-color: #0004;
    visibility: hidden;
}

#tableBody:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#tableTitle {
    background-color: #adada2;
    background-color: #acb4b0;
    padding: 20px 0px 5px 0px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

th {
    background-color: #1c2d2b;
    color: #cbcbc8;
    padding: 7px;
    top: 0;
}

td {
    padding: 7px;
}

@media (max-width: 1000px) {
    table {
        margin: 2%;
    }

    td {
        min-width: 12.1rem;
    }

}