
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
    background-color: #cbcbc8;
    margin: 0;
}

   
#navBar {
  background-color: #1c2d2be9;
  padding: 17px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

img {
    width: 10%;
    height: auto;
    padding-left: 20px;
}
.link {
    color: #cbcbc8;
    float: right;
    height: 7%;
    margin-top: 0.8%;
    margin-right: 50px;
    text-decoration: none;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 110vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)),url(../Images/HomePage_background.jpg);
  background-size: 100%;
  filter: blur(3px);
}
.text{
margin-top: 70px;
margin-bottom: 70px;
background-color: rgba(46, 45, 45, 0.705); /* Black w/opacity/see-through */
color: #946714;
border: 3px solid #cbcbc8;
border-radius: 50px;
position: absolute;   /* for centering on the background image*/
top: 50%;
left: 50%;
transform: translate(-50%, -50%);   /* for centering on the backgroun image*/
width: 80%;
padding: 5px;
padding-top: 35px;
padding-bottom: 40px;
text-align: center;
}
.content{
  font-size: x-large;
  color:#cbcbc8;
  margin-top: 10px;
  margin-bottom: 40px;
}
.content-top{
  margin-bottom: 10px;
  font-size: x-large;
  color:#cbcbc8;
  margin-top: 10px;
}
#button-link{
  color: #cbcbc8;
  text-decoration: none;
  padding: 15px 32px;
  background-color: #1c2d2b; 
  border: none;
  padding: 15px 32px;
  border-radius: 50px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#button-link:hover{
  background-color: #cbcbc8;
  cursor: pointer;
  color:#1c2d2b;
} 
h2{
  margin-top: 70px;
  color: #946714;
  margin-bottom: 30px;
  text-align: center;
}

li{
  font-size: larger;
  text-align: center;
  color: #1c2d2b;
}

.footer{
  margin-top: 150px;
  width: 100%;
  height: 300px;
  padding: 100px 20% 100px;
  color: #bdbdb9;
  background-color: #1c2d2b;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: absolute;


}

.footer div{
  text-align: center;
}

.footer-section-about{
  float: left;
  width: 50%;
}

.footer-section-contact{
  float: left;
  width: 50%;
}

.footer div h3, .footer div h4{
  font-weight: 1000;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #946714;
}

.footer div h4{
  margin-top: 10px; 

}

.footerLink{
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: #acb4b0;
  margin-bottom: 5px;
}



.footer .footer-bottom{
  background-color: #aeb2ac;
  color: #1c2d2b;
  height: 20px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}


