/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    color: #402a02;
}

h2 {
    text-align: center;
    margin-right: 32%;
}

body {
    background-color: #cbcbc8;
    color: #1c2d2b;
    margin: 0px;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}

/* STYLING HEADER */
img {
    min-width: 103px;
    min-height: 52px;
}

ul {
    display: inline-block;
    right: 0;
}

li {
    list-style: none;
    display: inline-block;
}

#menuList {
    float: right;
}

#logo {
    width: 10%;
    height: auto;
    padding-left: 20px;
}

#navBar {
    background-color: #1c2d2b;
    padding: 0 1rem;
}

.link {
    color: #cbcbc8;
    float: right;
    margin-top: 0;
    margin-right: 3rem;
    text-decoration: none;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: inset 0 0 0 0 #cbcbc8;
    padding: 1.2rem .5rem;
    border-radius: 5px;
}

.link:hover {
    color: #946714;
}

.linkchecked {
    display: none;
}

label div {
    display: none;
}

#menu_checkbox {
    float: right;
    display: none;
}

/* SPECIFIC PAGE STYLING */
input,
select,
button {
    border: 1px solid #1c2d2b;
    background-color: #aeb2ac;
    border-radius: 10px;
}

#formdiv {
    width: 40%;
    margin: auto;
}

#form {
    width: 100%;
}

.rows {
    width: 100%;
    display: block;
}

.columns {
    width: 100%;
    display: inline-block;
    margin: 10px;
}

.labels {
    width: 30%;
    float: left;
    font-size: large;
    margin-left: 5%;
}

.theInputs {
    width: 60%;
    float: right;
    padding: 4px;
}

button {
    margin-top: 7%;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: #1c2d2b;
    color: #cbcbc8;
    border: 2px solid #1c2d2b;
}

button:hover {
    border: 2px solid #1c2d2b;
    background-color: #cbcbc8;
    color: #1c2d2b;
    transition-duration: 0.4s;
}

#button {
    text-align: center;
}

/* STYLING FOOTER*/

.footer {
    margin-top: 150px;
    width: 100%;
    height: 300px;
    padding: 100px 20%;
    color: #bdbdb9;
    background-color: #1c2d2b;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
}

.footerLink:hover {
    color: #946714;
  }
.footer div {
    text-align: center;
}

.footer-section-about {
    float: left;
    width: 50%;
}

.footer-section-contact {
    float: left;
    width: 50%;
}

.footer div h3,
.footer div h4 {
    font-weight: 1000;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #946714;
}

.footer div h4 {
    margin-top: 10px;

}

.footerLink {
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: #acb4b0;
    margin-bottom: 5px;
}

.footerLink:hover {
    color: #946714;
}

.footer .footer-bottom {
    background-color: #aeb2ac;
    color: #1c2d2b;
    height: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}


@media only screen and (max-width: 768px) {
    footer {
        background-color: #1c2d2b;
        color: #bebeb8;
        font-size: .8em;
        width: 100%;
    }

    img {
        min-width: 103px;
        min-height: 52px;
    }

    .link {
        font-size: .8em;
        display: none;
    }

    #logo {
        width: 18%;
        height: 18%;
    }

    label div {
        display: block;
    }

    label {
        display: inline-block;
        margin-right: 2px;
        margin-left: 70%;
        margin-top: 5%;
        transform: translateY(-50%);
        transition: 0.3s ease transform;
        cursor: pointer;
    }

    label div {
        width: 6px;
        height: 6px;
        background-color: #bdbdb9;
        margin-left: 0;
        margin-bottom: 6px;
        border-radius: 4px;
        transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
            0.3s ease background-color;
    }

    label div:first-child {
        width: 22px;
    }

    label div:nth-child(2) {
        width: 15px;
    }

    label div:last-child {
        width: 30px;
        margin-bottom: 0;
    }

    #menu_checkbox:checked+label {
        transform: translateY(-50%) rotateZ(-90deg);
    }

    #menu_checkbox:checked+label div {
        width: 6px;
        margin-bottom: 3px;
        background-color: #946714;
    }

    .linkchecked {
        color: #cbcbc8;
        content: "";
        margin-top: 0;
        margin-right: 1000px;
        text-decoration: none;
        font-size: 14pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-shadow: inset 0 0 0 0 #cbcbc8;
        padding: 1rem .5rem;
        border-radius: 5px;
        display: block;
    }

    #menuAdded {
        background-color: #1c2d2b;
    }

    .linkchecked:hover {
        color: #946714;
    }
}