* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    background-color: #cbcbc8;
    color: #1c2d2b;
    height: 1000px;
    margin: 0px;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}

#logo {
    width: 10%;
    height: auto;
    padding-left: 20px;
}

#navBar {
    background-color: #1c2d2b;
    padding: 17px;
}

.link {
    color: #cbcbc8;
    float: right;
    height: 7%;
    margin-top: 0.8%;
    margin-right: 50px;
    text-decoration: none;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #402a02;
}

input,
select,
button {
    border-color: #1c2d2b;
    background-color: #aeb2ac;
    border-width: 1px;
    border-radius: 10px;
}

#formdiv {
    width: 40%;
    margin: auto;
}

#form {
    width: 100%;
}

.rows {
    width: 100%;
    display: block;
}

.columns {
    width: 100%;
    display: inline-block;
    margin: 10px;
}

.labels {
    width: 30%;
    float: left;
    font-size: large;
}

.theInputs {
    width: 60%;
    float: right;
    padding: 4px;
}

h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}

h2 {
    text-align: center;
    margin-right: 32%;
}

button {
    margin-top: 7%;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

#button {
    text-align: center;
}

/* STYLING FOOTER*/

footer {
    margin-top: 150px;
    width: 100%;
    height: 340px;
    padding: 100px 20%;
    background: #1c2d2b;
    color: #bebeb8;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer div {
    text-align: center;
}

.footer-section-about {
    float: left;
    width: 50%;
    padding-right: 4.8rem;
}

.footer-section-contact {
    float: left;
    width: 50%;
    padding-left: 4.8rem;
}

footer div h3 {
    font-weight: 1000;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footerLink {
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: #375940;
    margin-bottom: 5px;
}

footer .footer-bottom {
    background-color: #aeb2ac;
    color: #1c2d2b;
    height: 20px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    footer {
        background-color: #1c2d2b;
        color: #bebeb8;
        font-size: .8em;
        width: 100%;
    }

    .link {
        font-size: .8em;
    }

    #logo {
        width: 18%;
        height: 18%;
    }
}